:root {
--cor-fundo-geral: rgba(206, 205, 205, 0.704);
--cor-primaria: #1a0f08;
--cor-secundaria: #4d3e37;
--cor-destaque: #c9933f;
--cor-texto-claro: #faf4d3;
--cor-preto: #000;
--cor-instrumentos: #413229;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: Arial, sans-serif;
  background: linear-gradient(to top,#100905, var(--cor-primaria));
  min-height: 100vh;
}


header{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cor-primaria); 
    align-items: center;
    border-bottom: 1px solid #6c544a;
    position: fixed;
}

a{
    text-decoration: none;
    color: var(--cor-destaque);

}

.nomesite{
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 30px;
}

.nav{
    margin: 30px;
}

.nav > button{
    color: #c9933f;
    background-color: var(--cor-primaria);
    border: none;
    margin: 5px;
    font-size: medium;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    
}

.nav > button:hover{
    transform: 1s;
    cursor: pointer;
    text-decoration: underline;

}
.card {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forms {
  background-color: #ffffff;
  border-radius: 14px;
  padding: 32px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form h2 {
  margin-bottom: 20px;
  color: #111;
}

.form input {
  width: 100%;
  height: 42px;
  margin-bottom: 14px;
  padding: 0 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  transition: all 0.3s ease;

}

.form button {
  width: 100%;
  height: 42px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #c9933f;
  transition: all 0.3s ease;
}

.form button:hover {
  background-color: #684918;
  transform: translateY(-2px);
}

.form > input:hover{
  transform: translateY(-2px);

}