:root{
--cor-fundo-geral: rgba(206,205,205,0.704);
--cor-primaria:#1a0f08;
--cor-secundaria:#4d3e37;
--cor-destaque:#c9933f;
--cor-texto-claro:#faf4d3;
--cor-preto:#000;
--cor-instrumentos:#413229;
}

.conteudo_curso{
    min-height:90vh;
    padding:130px 10px 10px;
    background-color:var(--cor-primaria);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

#escrita{
    display:block;
}

#quiz{
    width:100%;
    display:none;
    justify-content:center;
}

#resultados{
    width:100%;
    display:none;
    justify-content:center;
}


#pagina{
    background-color:antiquewhite;
    width:90%;
    max-width:500px;
    border-radius:15px;
    color:#000;
    display:flex;
    flex-direction:column;
    padding:20px;
    box-sizing:border-box;
}

#titulo_pagina{
    background-color:gray;
    text-align:center;
    padding:10px;
    border-radius:10px;
}

#texto_curso,#texto2_curso{
    width:100%;
    text-align:justify;
    margin:10px 0;
}

#div_imagem{
    width:100%;
    max-width:420px;
    height:240px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    margin:15px auto;
    border-radius:15px;
}

#passador,#botoes{
    display:flex;
    flex-direction:column;
    gap:8px;
    margin-top:10px;
}
#irdash,
#voltar,
#avancar,
#terminar,
#btnSubmeter,
#btnProx,
#btnVerResultado{
    padding:10px;
    border-radius:8px;
    background-color:var(--cor-destaque);
    border:none;
    cursor:pointer;
}

#terminar{
    display:none;
}

.flex-colunar{
    display:flex;
    flex-direction:column;
}

.padding-8{
    padding:8px;
}

